<div class="container">
  <div class="row">
    <div class="col-12 mb-4">
    <h3>Dashboard</h3>
    </div>
    
    <div class="col-xl-4">
      <div class="card border-left-primary shadow h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total de questões</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @total_questions %></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-question fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
        <div class="card-footer">
        Ver detalhes
        </div>
      </div> 
    </div> <!-- Col -->

    <div class="col-xl-4">
      <div class="card border-left-info shadow h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total de assuntos</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @total_subjects %></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
        <div class="card-footer">
        Ver detalhes
        </div>
      </div> 
    </div> <!-- Col -->

    <div class="col-xl-4">
      <div class="card border-left-success shadow h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total de usuários</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @total_users %></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-user fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
        <div class="card-footer">
        Ver detalhes
        </div>
      </div> 
    </div> <!-- Col -->
    <!-- Row -->       
  </div>
</div>
   
  
