/*
*= require bootstrap/dist/css/bootstrap
*= require font-awesome/css/font-awesome
*/

$primary: #00AABB;
$white: rgba(255, 255, 255, 0.8);

* {
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar-brand svg {
  color: $primary !important;
}

.navbar-dark .navbar-toggler {
  border: 0 !important;
}

.text-tta {
  color: $primary;
}

.text-tta:hover {
  color: darken($primary, 5%);
  text-decoration: none !important;
}

.categories h5,
.dropdown-item,
.question, 
.categories,
.site-description,
.title,
.warning {
  color: #444;
}

.categories span {
  color: rgb(141, 141, 141);
}

.categories,
.primary,
.text-primary {
  color: $primary !important;
}

a.text-primary-link:hover,
#navbarDropdown:hover {
  text-decoration: none;
  color: $primary !important;
}

.section-img {
  width: 100% !important;
  height: 50% !important;
  object-fit: cover !important;
}

.btn {
  border-radius: 0 !important;
  padding: 15px !important;
}

.btn-primary {
  background-color: $primary !important;
  border-color: darken($primary, 3%) !important;
}

.btn-primary.small {
  padding: 8px 15px !important;
}

.btn-primary:hover {
  background-color: darken($primary, 4%) !important;
}

.jumbotron-heading {
  font-weight: 700 !important;
  color: #343a40 !important;
}

.jumbotron {
  border-radius: 0 !important;
}

.nav-link {
  color: $white !important;
}

.section-2 {
  margin-top: 60px;
  margin-bottom: 30px;
}

.btn-register {
  padding: 8px 10px !important;
  color: $white !important;
  border-color: $white !important;
}

.btn-register:hover {
  color: #000 !important;
}

.form-control.search {
  height: 57px !important;
  border-radius: 0 !important;
}

.features-jumbotron {
  background-color: #1a1b1d !important;
}

.features-section {
  h1 {
    margin-bottom: 10px;
    color: #00AABB;
  }
  
  h5 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
  }

  p {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
  }
  hr {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.title {
  font-weight: 700;
}

ul.pagination {
  text-align: center !important;
  justify-content: center !important;
}

ul.pagination > li > a.page-link {
  color: $primary !important;
}

ul.pagination > li.active > a.page-link {
  color: white !important;
  background-color: $primary !important;
  border-color: $primary !important;
}

.pagination > .page-item:last-child .page-link,
.pagination > .page-item:first-child .page-link {
  border-radius: 0 !important;
}

.list-group-flush > li {
  font-size: 14px;
}

.badge-primary {
  background-color: $primary !important;
}

.badge-gray { 
  background-color: transparent;
  border: 1px solid $primary;
  font-size: 13px !important;
  transition: all .2s ease-in-out;
  color: $primary !important;
  // box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.badge-gray:hover {
  background-color: $primary;
  border: 1px solid $primary;
  color: white !important;
}

.dropdown-menu {
  border-radius: 0 !important;
  border: 1px solid #ced4da !important;
}

// Radio Buttons

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2rem;
  opacity: 0;
  width: 1rem;
  z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  padding-left: 2.2rem;
  padding-right: 0.75rem;
  position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  font-size: 13px;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  border-radius: 2px;
  border: solid 1px;
  content: '';
  display: inline-block;
  height: 1.4rem;
  left: 0;
  line-height: 1.3rem;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 1.4rem;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  content: '\f00c';
}

input[type="checkbox"] + label:before {
  border-radius: 2px;
}

input[type="radio"] + label:before {
  border-radius: 100%;
}

::-webkit-input-placeholder { opacity: 1.0; }
:-moz-placeholder { opacity: 1.0; }
:-ms-input-placeholder { opacity: 1.0; }

.formerize-placeholder {
  opacity: 1.0;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  color: #444;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  background: rgba(144, 144, 144, 0.075);
  border-color: rgba(144, 144, 144, 0.25);
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  background-color: $primary;
  border-color: $primary;
  color: #ffffff;
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
  border-color: $primary;
  box-shadow: 0 0 0 1px $primary;
}

::-webkit-input-placeholder { color: #bbb !important; }
::-moz-placeholder { color: #bbb !important; }
:-ms-input-placeholder { color: #bbb !important; }
.formerize-placeholder { color: #bbb !important; }
