/*
*= require bootstrap/dist/css/bootstrap
*= require font-awesome/css/font-awesome
*/

* {
  font-family: 'Source Sans Pro', sans-serif;
}

.jumbotron-heading {
  font-weight: 700 !important;
}

.btn {
  border-radius: 0 !important;
  padding: 15px !important;
}

.form-control.search {
  height: 57px !important;
  border-radius: 0 !important;
}

.features-jumbotron {
  background-color: rgb(56, 56, 56) !important;
}


.features-section {
  h1 {
    margin-bottom: 10px;
  }
  
  h5 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
  }

  p {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
  }
  hr {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.title {
  font-weight: 700;
}

.pagination > .page-item:last-child .page-link,
.pagination > .page-item:first-child .page-link {
  border-radius: 0 !important;
}