<div class="container">
    <div class="row section-2">
      <div class="col-md-8">
        <%= image_tag "https://templated.co/items/demos/megacorp/images/pic01.jpg", 
        class: "img-fluid" %>
        
        <p class="mt-3">
          O site possui diversas questões divididas por áreas de conhecimento e na área do aluno você possui acesso a
          todos os seus resultados obtidos ao responder perguntas ao longo do tempo. Todos os recursos do site são 
          completamente gratuitos e em momento algum você será submetido a pagar por uma assinatura ou algo do tipo. 
          <b>Não perca mais tempo e comece a utilizar o Time To Answer!</b>
        </p>
      </div> 
          
      <div class="col-md-4">
        <h5 class="text-center font-weight-bold categories"><i class="fas fa-list"></i> &nbsp; Categorias mais populares</h5>
        <div class="row">
          <div class="col-md-12 text-center">
            <ul class="list-group list-group-flush">
              <% @subjects.last(8).each do |subject| %>
                <li class="list-group-item"><%= subject.description %> (<%= subject.questions.count %> questões)</li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> 
        
  <section class="jumbotron text-center features-jumbotron">
    <div class="container">
      <div class="row text-light features-section"> 
        <div class="col-md-4 px-4">       
          <h1><i class="fas fa-paste"></i></h1> 
          <h5>Áreas de conhecimento</h5>
          <hr>
          <p>Você pode pesquisar por questões de acordo com as áreas de conhecimento cadastradas no site. 
          Atualmente, o site conta com mais de 200 áreas de diversas especializações.</p>
        </div>

        <div class="col-md-4 px-4">
          <h1><i class="fas fa-chart-line"></i></h1>
          <h5>Estatísticas</h5>
          <hr>
          <p>Na área do aluno, é possível ver suas estatísticas - quantas questões de cada área você acertou,
          com porcentagem e informações sobre todas as questões que você já respondeu.</p>
        </div>

        <div class="col-md-4 px-4">
          <h1><i class="fas fa-history"></i></h1>
          <h5>Histórico de respostas</h5>
          <hr>
          <p>Caso queira voltar a ler uma questão que você já respondeu, é possível fazer isso através da área 
          do aluno. Lá, você pode ver todas as questões e suas respectivas respostas.</p>
        </div>   
      </div>
    </div>
  </section>       

<h2 class="text-center title mb-4">Últimas perguntas cadastradas</h2>


<div class="container">
  <div class="row">
    <%= render 'site/shared/questions'%>    
  </div>
</div>
