<div class="container">
    <div class="row">
      <div class="col-md-8">
      <%= image_tag "https://templated.co/items/demos/megacorp/images/pic01.jpg", class: "img-fluid" %>
      
      <p class="mt-3" style="font-size: 14px !important;">
        This is MegaCorp, a responsive HTML5 site template freebie by TEMPLATED. Released for free under the 
        Creative Commons Attribution license, so use it for whatever (personal or commercial) – just give us credit! 
        Check out more of our stuff at our site or follow us on Twitter.
      </p>
      </div>
      <div class="col-md-2">
        <h5>Categorias</h5>
        <ul class="list-group list-group-flush" style="font-size: 13px !important;">
          <li class="list-group-item"">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Categorias</h5>
        <ul class="list-group list-group-flush" style="font-size: 13px !important;">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div> 
        

  <section class="jumbotron text-center features-jumbotron">
    <div class="container ">
      <div class="row text-light features-section">
      
        <div class="col-md-4">
          <h1><i class="fas fa-paste"></i></h1>
          <h5>Áreas de conhecimento</h5>
          <hr>
          <p>Você pode pesquisar por questões de acordo com as áreas de conhecimento cadastradas no site. 
          Atualmente, o site conta com mais de 200 áreas de diversas especializações.</p>
        </div>
        <div class="col-md-4">
          <h1><i class="fas fa-chart-line"></i></h1>
          <h5>Estatísticas</h5>
          <hr>
          <p>Na área do aluno, é possível ver suas estatísticas - quantas questões de cada área você acertou,
          com porcentagem e informações sobre todas as questões que você já respondeu.</p>
        </div>
        <div class="col-md-4">
          <h1><i class="fas fa-history"></i></h1>
          <h5>Histórico de respostas</h5>
          <hr>
          <p>Caso queira voltar a ler uma questão que você já respondeu, é possível fazer isso através da área 
          do aluno. Lá, você pode ver todas as questões e suas respectivas respostas.</p>
        </div>
      
      </div>
    </div>
  </section>       

<h2 class="text-center title mb-4">Últimas perguntas cadastradas</h2>

<div class="container">
  <div class="row">
    <%= render 'site/shared/questions'%>    
  </div>
</div>
