<h3>Olá, <%= @resource.email %>!</h3>

<p>Você solicitou a criação de uma nova senha de acesso. Clique no link abaixo para prosseguir:</p>
<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<small>Caso não tenha sido você, desconsidere este e-mail. <br>
Sua senha não será alterada até que você clique no link acima e crie uma nova.</small>
